{% extends 'login/index.html' %}

{% block head_content %}
<title>Log In </title>
{% endblock head_content %}
{% load static %}
{% block container %}
<div class="card text-left">
    <h4 class="card-header text-center">Member Login</h4>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img class="" src="{% static "img/login.png" %}" alt="" height="250">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username" name="username"
                            required="true" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" name="passwd"
                            required="true" />
                    </div>
                    <button class="btn btn-warning btn-block mt-5" type="submit">Log in!</button>
                </form>
                <div class="pt-3 text-center">
                    <p>¿No puedes acceder? <a href="{% url 'password_reset' %}">Recuperar Cuenta</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}