{% extends 'login/index.html' %}

{% block head_content %}
    <title> Sign Up </title>
{% endblock head_content %}

{% block container %}
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required="true" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="passwd" required="true" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password confirmation" name="passwd_confirmation" required="true" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="First name" name="first_name" required="true" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Last name" name="last_name" required="true" />
        </div>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email address" name="email" required="true" />
        </div>
        <div class="form-group row">
            <label for="birthdate" class="col-2 col-form-label">Birthdate:</label>
            <div class="col-10">
              <input class="form-control" type="date" value="{{today}}" id="birthdate" name="birthdate">
            </div>
        </div>
        <button class="btn btn-warning btn-block mt-5" type="submit">Registrar!</button>
    </form>
{% endblock container %}