{% extends 'index.html' %} {% block head_content %}
<title>Restaurar Contraseña</title>
{% endblock head_content %} {% block container %} {% if validlink %}
<h1>Configure su nueva contraseña</h1>
<form method="POST" action="">
    {% csrf_token %} {{form.new_password.errors}}
    <label for="id_new_password">Nueva contraseña:</label> {{form.new_password}} {{form.confirm_password.errors}}
    <label for="id_confirm_password">Confirme contraseña:</label> {{form.confirm_password}}
</form>
{% else %}
<h1 class="text-center alert alert-danger">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
{% endif %} {% endblock container %}