{% extends 'index.html' %} 
{% block head_content %}
    <title>Restaurar Contraseña</title>
{% endblock head_content %} 
{% block container %} 
    {% if validlink %}
        <h1>Configure su nueva contraseña</h1>
        <form method="POST">
            {% csrf_token %} 
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-6 col-sm-12 form-group">
                    {% if form.new_password.errors %}
                        {{form.new_password.errors}}
                    {% endif %}
                    <label for="id_new_password">Nueva contraseña:</label> 
                    <input type="password" name="id_new_password" id="id_new_password" class="form-control">
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-6 col-sm-12 form-group">
                    {% if form.confirm_password.errors %}
                        {{form.confirm_password.errors}}
                    {% endif %}
                    <label for="id_confirm_password">Nueva contraseña:</label> 
                    <input type="password" name="id_confirm_password" id="id_confirm_password" class="form-control">
                </div>
                <div class="col"></div>
            </div>
            
           
            <input type="submit" value="Cambiar mi contraseña" class="btn btn-warning">
        </form>
        {% else %}
        <h1 class="text-center alert alert-danger">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
    {% endif %} 
{% endblock container %}