{% extends 'index.html' %} {% block head_content %}
<title>Restaurar Contraseña</title>
{% endblock head_content %} {% block container %}

<div class="card">
    <h1 class="card-header">Restaurar Contraseña</h1>
    <div class="card-body">
        <form action="{% url 'email_sended' %}" method="POST">
            {% csrf_token %} {% if error %}
            <div class="row">
                <div class="col"></div>
                <div class="alert alert-danger col-lg-6 col-sm-12">
                    {{error}}
                </div>
                <div class="col"></div>
            </div>

            {% endif %}
            <div class="row">
                <div class="col"></div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <label for="email" class="label">Ingrese el correo electronico</label>
                    <input class="form-control" id="email" type="email" placeholder="Correo" name="email" required="true" />
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <button class="btn btn-warning col-12" type="submit">Enviar correo</button>
                    <!-- <input class="form-control" type="text" placeholder="Usuario" name="username" required="true" /> -->
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</div>
{% endblock container %}