{% extends 'dashboard/index.html' %}
{% load static %}
{% block head_content %}
    <title>Dashboard</title>
{% endblock head_content %}
{% block container %}
    <div class="container pt-5 mt-5">
        <div class="card text-left">
          <div class="card-body">
            <div class="row">
              <h2 class="card-title">Welcome {{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="row mt-3">
              <h4>Tus modulos disponibles</h4>
            </div>
            {% if 5 > 8 %}
              <div class="row mt-3">
                {% for u_card in userCards %}
                <form action="{% url 'turn_card' %}" method="POST">
                {% csrf_token %}
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <input hidden="true" name="id" value="{{u_card.profile.id}}">
                    <button type="submit" name="" id="" class="btn {% if u_card.active %}btn-success {% else %} btn-dark{% endif %}">
                      <span><i class="fa fa-2x {{u_card.iconClass}}" aria-hidden="true"> </i></span>
                      <h2>{{u_card.name}}</h2>
                    </button>
                  </div>
                  </form>
                {% endfor %}
              </div>
            {% else %}
              <div class="row mt-3">
                <form action="{% url 'first_cards' %}" method="POST">
                {% csrf_token %}
                  <input hidden="true" name="profile" value="{{uprofile.id}}">
                  <button type="submit" name="" id="" class="btn btn-info">
                        <h2>Crear tus módulos por primera vez</h2>
                  </button>
                </form>
              </div>  
            {% endif %}
          </div>
        </div>
      </div>
  
{% endblock container %}