{% extends 'dashboard/index.html' %}
{% load static %}
{% block head_content %}
    <title>Dashboard</title>
    
{% endblock head_content %}
{% block container %}
    <div class="container pt-5 mt-5">
        <div class="card text-left">
          <div class="card-body">
            <div class="row">
              <h2 class="card-title">Welcome {{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="row mt-3">
              <h4>Tus modulos disponibles ({{userCards|length}})</h4>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://192.168.254.128:8080/remote.html" allowfullscreen></iframe>
            </div>
            
            <img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2F192.168.254.128%3A8080%2Fremote.html&chs=180x180&choe=UTF-8&chld=L|2' alt='qr code'><a href='https://www.qr-code-generator.com' border='0' style='cursor:default'  rel='nofollow'></a>
          </div>
        </div>
      </div>
  
{% endblock container %}